@model App.Models.Airline.FlightRoute

@{
    ViewData["Title"] = "Chỉnh sửa tuyến bay";
}

<h1>@ViewData["Title"]</h1>
<h4>Flight Route</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.FlightRouteId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FlightRouteId" />

            <div class="form-group">
                <label asp-for="DepartureAddress">Địa điểm khởi hành</label>
                <select asp-for="DepartureAddress"
                    asp-items="@(new SelectList(ViewBag.Airports, "Abbreviation", "Abbreviation"))"
                    class="form-control">
                    <option>Chọn sân bay</option>
                </select>
                <span asp-validation-for="DepartureAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArrivalAddress">Địa điểm đến</label>
                <select asp-for="ArrivalAddress"
                    asp-items="@(new SelectList(ViewBag.Airports, "Abbreviation", "Abbreviation"))"
                    class="form-control">
                    <option>Chọn sân bay</option>
                </select>
                <span asp-validation-for="ArrivalAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gate"></label>
                <select asp-for="Gate" asp-items="@Html.GetEnumSelectList<App.Models.Airline.FlightRoute.GateType>()"
                    class="form-control"></select>
                <span asp-validation-for="Gate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status"
                    asp-items="@Html.GetEnumSelectList<App.Models.Airline.FlightRoute.StatusType>()"
                    class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách tuyến bay</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
