@model App.Models.Statistical.MonthlyRevenue

@{
    ViewData["Title"] = "Chi tiết doanh thu tháng";
}

<h1>@ViewData["Title"]</h1>
<h4>MonthlyRevenue</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TicketByMonth)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TicketByMonth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Revenue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Revenue)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MonthlyRevenueId">Chỉnh sửa</a> |
    <a asp-action="Index">Danh sách doanh thu tháng</a>
</div>
