@model IEnumerable<App.Models.Statistical.MonthlyRevenue>
@using App.Models.Statistical

@{
    ViewData["Title"] = "Danh sách doanh thu tháng";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Thêm doanh thu mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().TicketByMonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Revenue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            await RenderMonthlyRevenue(item, 0);
        }

    </tbody>
    
</table>

@{
    async Task RenderMonthlyRevenue(MonthlyRevenue item, int level)
    {
        if (item is null)
        {
            throw new ArgumentNullException(nameof(item));
        }

        string prefix = string.Concat(Enumerable.Repeat("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", level));
        <tr>
            <td>
                @Html.Raw(prefix)
                <a asp-action="Edit" asp-route-id="@item.MonthlyRevenueId">
                    @Html.DisplayFor(modelItem => item.TicketByMonth)
                </a>
            </td>

            <td>
                @Html.Raw(prefix)
                <a asp-action="Edit" asp-route-id="@item.MonthlyRevenueId">
                    @Html.DisplayFor(modelItem => item.Revenue)
                </a>
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.MonthlyRevenueId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MonthlyRevenueId">Xóa</a>
            </td>
        </tr>
    }
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
